@using DAL
@model FNC_AB_ORDER_MANAGEMENT.Models.InmatningarModel

@{
    ViewBag.Title = "Inmätningar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <style type="text/css" src="content/jquery.dataTables.min.css"></style>
    <script type="text/javascript" src="~/scripts/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.dataTables.min.js"></script>
</header>



<div class="container">
    <h2 style="vertical-align: middle; text-align: center; font-weight: bold">Inmätningar</h2>
    <hr />
    <div class="form-group">
        <div>
            <hr />
            @*<h3 style="float: left; width: 50%; text-align: right;" >Sortering : </h3>*@
            <h3 style=" width 50%; text-align center;" id="StatusSortering">   @Model.Status </h3>
        </div>
        <div class="col-md-offset-2 col-md-10">


            <input id="p" type="button" Onclick="location.href = '@Url.Action("Inmatningar", new {st = "Pågående"})'" value="Pågående" class="btn btn-default" />
            <input id="es" type="button" Onclick="location.href = '@Url.Action("Inmatningar", new {st = "Ej slutförd"})'" value="Ej slutförd" class="btn btn-default" />
            <input id="eg" type="button" Onclick="location.href = '@Url.Action("Inmatningar", new {st = "Ej genomförbar"})'" value="Ej genomförbar" class="btn btn-default" />
            <input id="s" type="button" Onclick="location.href = '@Url.Action("Inmatningar", new {st = "Slutförd"})'" value="Slutförd" class="btn btn-default" />

        </div>
    </div>
</div>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Kund</th>
            <th>Status</th>
            <th>Adress</th>
            <th>Ordernr</th>
            <th>Start datum</th>
            <th>Övrigt</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Kund</th>
            <th>Status</th>
            <th>Adress</th>
            <th>Ordernr</th>
            <th>Start datum</th>
            <th>Övrigt</th>
        </tr>
    </tfoot>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model.InmatningsLista)
                {


                    <tr>
                        <td Onclick="location.href='@Url.Action("RedigeraInmatningar/"+item.ID, "Inmatningar")'">@item.KundNamn</td>
                        <td>@item.Status</td>
                        <td>@item.Adress</td>
                        <td>@item.Ordernr</td>
                        <td>@item.InDatum</td>
                        <td>@item.Ovrigt</td>
                    </tr>

                }
            }
        }

    </tbody>
</table>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Ny Inmätning" class="btn btn-default" onclick="location.href='@Url.Action("NyInmatning", "Inmatningar")'" />
    </div>
</div>
<script>


    //var chosen = new $.fn.dataTable.Editor({
    //     ajax: "../php/todo.php",
    //     table: "#example",
    //     fields: [{
    //         label: "Description:",
    //         name: "description",
    //         type: "chosen"
    //     }]
    // });


    $(document).ready(function () {
        $('#example').DataTable();

    });

</script>

@*jQuery.extend(true,chosen, {
    "chosen": {
    sProcessing: "Przetwarzanie...",
    sSearch: "Szukaj:",
    sLengthMenu: "Pokaż _MENU_ pozycji",
    sInfo: "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
    sInfoEmpty: "Pozycji 0 z 0 dostępnych",
    sInfoFiltered: "(filtrowanie spośród _MAX_ dostępnych pozycji)",
    sInfoPostFix: "",
    sLoadingRecords: "Wczytywanie...",
    sZeroRecords: "Nie znaleziono pasujących pozycji",
    sEmptyTable: "Brak danych",
    oPaginate: {
    sFirst: "Pierwsza",
    sPrevious: "Föregående",
    sNext: "Następna",
    sLast: "Ostatnia"
    },
    oAria: {
    sSortAscending: ": aktywuj, by posortować kolumnę rosnąco",
    sSortDescending: ": aktywuj, by posortować kolumnę malejąco"
    }
    }*@


@*<script>
        (function andraknapp() {

           $('#s').addClass('myActive');
            var knapp = document.getElementById('s');
            knapp.style('myActive');

            $("#StatusSortering").text("Slutförd");
            @Url.Action("Inmatningar",new {st="Slutförd"})
            Console.log("klicklkopick");
        });


        $('#s').click(function (eventObj) {

            document.getElementById("StatusSortering").innerHTML = "Slutförd";

            window.location.href='@Url.Action("Inmatningar",new { st = "Slutförd" })' ;

            $('#s').addClass('myActive');
            $('#StatusSortering').text = "Slutförd";
            document.getElementById("StatusSortering").innerHTML = "Slutförd";

            var tee = document.getElementById('StatusSortering');
            tee.text = "Slutförd";


        });
    </script>*@











