@model FNC_AB_ORDER_MANAGEMENT.Models.UtsattningarModel


@{
    ViewBag.Title = "Utsättningar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <style type="text/css" src="content/jquery.dataTables.min.css"></style>
    <script type="text/javascript" src="~/scripts/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="~/scripts/jquery.dataTables.min.js"></script>
</header>

<div class="container">
    <h2 style="vertical-align: middle; text-align: center; font-weight: bold">Utsättningar</h2>
    <hr />

    <hr /><h2>Sortering :</h2><h3 id="StatusSortering">@Model.Status </h3>
    <input id="p" type="button" Onclick="location.href='@Url.Action("Utsattningar",new {sta="Pågående"})'" value="Pågående" />
    <input id="es" type="button" Onclick="location.href='@Url.Action("Utsattningar",new {sta="Ej slutförd"})'" value="Ej slutförd" />
    <input id="eg" type="button" Onclick="location.href='@Url.Action("Utsattningar",new {sta="Ej genomförbar"})'" value="Ej genomförbar" />
    <input id="s" type="button" Onclick="location.href='@Url.Action("Utsattningar",new {sta="Slutförd"})'" value="Slutförd" />
    
</div>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Kund</th>
            <th>Status</th>
            <th>Adress</th>
            <th>Ordernr</th>
            <th>Start datum</th>
            <th>Övrigt</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Kund</th>
            <th>Status</th>
            <th>Adress</th>
            <th>Ordernr</th>
            <th>Start datum</th>
            <th>Övrigt</th>
        </tr>
    </tfoot>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model.UtsattningsLista)
                {
                    <tr>
                        <td Onclick="location.href='@Url.Action("RedigerUtsattningar/"+item.ID, "Utsattningar")'">@item.KundNamn</td>
                        <td>@item.Status</td>
                        <td>@item.Adress</td>
                        <td>@item.Ordernr</td>
                        <td>@item.InDatum</td>
                        <td>@item.Ovrigt</td>
                    </tr>
                }
            }
        }

    </tbody>
</table>
<input type="button" value="Skapa" onclick="location.href='@Url.Action("NyUtsattning", "Utsattningar")'" />
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>





