@model FNC_AB_ORDER_MANAGEMENT.Models.AnvandareModel

@{
    ViewBag.Title = "Redigera Användare";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Redigera Användare</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Roll, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Roll)
                    @Html.ValidationMessageFor(model => model.Roll, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="radera" value="Radera Användare" class="btn btn-default"/>
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Byt Lösenord" class="btn btn-default" onclick="location.href='@Url.Action("ChangePw/"+Model.Id , "HanteraKonton")'" />
                </div>
            </div>

        </div>
  
}

    


<div>
    @Html.ActionLink("Tillbaka", "VisaAnvandare")
</div>

@{<script>
    $('#radera').click(function() {
        var ok = confirm('Är du säker på att du vill radera kontot?');
        if(ok)
            window.location = "/HanteraKonton/TaBortAnvandare/@Model.Id";
        else
            return false;

    });
</script>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
