@model FNC_AB_ORDER_MANAGEMENT.Models.AnvandareModel

@{
    ViewBag.Title = "Redigera Användare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Redigera Användare</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Roll, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Roll)
                    @Html.ValidationMessageFor(model => model.Roll, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Radera Användare" class="btn btn-default" onclick="location.href='@Url.Action("TaBortAnvandare/"+Model.Id , "HanteraKonton")'" />
                </div>
            </div>
    </div>
}
<div id="part" @*style="display: none"*@>
    @*@{Html.RenderAction("PartialPasswordChange"); }*@
    <input type="button" @*onclick="@{Html.Partial("changePassword");}"*@id="partialbtn"/>
    @*@Html.Partial("_LoginPartial")*@
</div>

<div>
    @Html.ActionLink("Tillbaka", "VisaAnvandare")
</div>

<script>
    var url = '@Url.Action("PartialPasswordChange/"+Model.Id,"HanteraKonton")';
    $('#partialbtn').click(function () {


        @*var url = '@Url.Action("PartialPasswordChange","HanteraKonton")';*@
        $('#part').load(url);
        //$.ajax({
        //    url: '/HanteraKonton/changePassword',
        //    success: function (result) {
        //        $('#part').html(result);
        //    }
        //});


        //$('#part').RenderAction("returnPartialPasswordChange");
    });
    
    
</script>